:root {
  font-size: 36px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-primary: red;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --ion-text-color: #000000;
  --ion-background-color: #ffffff;
}

ion-tab-bar {
  background: var(--bg-primary);
}

ion-tab-button {
  background: var(--bg-primary);
}
