<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <app-tab2content></app-tab2content>
	<ion-card class="welcome-card">
		<h2>hey: you</h2>
	</ion-card>

	<ion-card class="welcome-card">
      <!--<img src="/assets/shapes.svg" alt="shapes" />-->
      <ion-card-header>
	<ion-card-subtitle>Get Started</ion-card-subtitle>
	<ion-card-title>Welcome to Ionic on AWS, Jaji</ion-card-title>
	<ion-label><h1>Basic EDITING</h1></ion-label>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      </ion-card-header>
  </ion-card>
</ion-content>

