<ion-header>
  <ion-toolbar>
    <ion-title>
      My Three Sons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-tab2content [son]="son"></app-tab2content>
  <ion-button color="primary" expand="full" (click)="changeText()">
    {{ buttonName }}
  </ion-button>
  <ion-card class="welcome-card">
    <!--<h2>hey: you</h2>-->
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="shapes" />
    <!--<img src="/assets/ipad-aws.png" alt="shapes" />-->

    <!--<ion-card-header>-->
    <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
    <!--<ion-card-title>Welcome to Ionic on AWS, Jaji</ion-card-title>-->
    <!--<ion-label><h1>Basic EDITING</h1></ion-label>-->
    <!--<ion-item href="https://ionicframework.com/docs/building/scaffolding">-->
    <!--<ion-icon slot="start" color="medium" name="build"></ion-icon>-->
    <!--<ion-label>Scaffold Out Your App</ion-label>-->
    <!--</ion-item>-->
    <!--</ion-card-header>-->
  </ion-card>
</ion-content>
