.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  text-align: center;
}

ion-toolbar {
  --color: var(--text);
  --background: var(--bg);
}

ion-content {
  --ion-background-color: var(--bg-nav);
}
ion-card {
  background: var(--bg);
  //--background: var(--bg-nav);
}
ion-card-title {
  color: var(--text);
}

ion-button {
  --background: var(--gray3);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  filter: var(--svg-color);
}

.icon-img {
  float: left;
  width: 80px;
  height: 80px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column-reverse;
  margin: 2%;
}

.child {
  flex: 1 1 41%;
  margin: 5px;
  height: 100px;
}
.child:last-child {
  max-width: 48.95%;
}

// Narrow  screens -- phones i portrait, except as noted
// ...only one column of cards
@media only screen and (max-width: 568px) {
  .child {
    flex: 1 1 90%;
  }

  .child:last-child {
    max-width: 98%;
  }

  ion-card-title {
    font-size: 18pt;
    //color: red;
  }
  // really small phones
  @media (orientation: landscape) {
    ion-card-header {
      //padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// Wide screens - necessary?
//@media only screen and (min-width: 560px) {}

// All phones in landscape
@media only screen and (min-width: 460px) and (max-width: 900px) {
  @media (orientation: landscape) {
    ion-card-title {
      //color: yellow;
      //padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// All large screen to include ipads and desktops
@media only screen and (min-width: 768px) {
  @media (orientation: portrait) {
    ion-card-title {
      font-size: 1.8rem;
      //color: purple;
    }
  }
}

@media only screen and (min-width: 1024px) {
  @media (orientation: landscape) {
    ion-card-title {
      font-size: 1.8rem;
      //color: tomato;
    }
  }
}
