<ion-header>
  <ion-toolbar>
    <ion-title> Ilonggo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Level One</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list class="parent">
    <ion-card
      class="child {{ lesson.color }}-card"
      *ngFor="let lesson of lessons"
    >
      <ion-card-header>
        <img
          class="icon-img on-{{ lesson.color }}-svg"
          src="assets/icon/custom/{{ lesson.icon }}.svg"
        />
        <ion-card-title class="on-{{ lesson.color }}-font">{{
          lesson.title
        }}</ion-card-title>
      </ion-card-header>
    </ion-card></ion-list
  >
</ion-content>
