//@import "default-colors";
//@import "~@ionic/angular/css/core.css";

$color-cards-red: red;
$red: red;

div.some-colors {
  ion-header {
    ion-toolbar {
      ion-title {
        color: $color-cards-red;
        //color: var(--random-red);
      }
    }
  }

  ion-content {
    ion-card {
      .welcome-card {
        max-height: 35vh;
        overflow: hidden;
        text-align: center;
      }
    }
    ion-list {
      .parent {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
        ion-card {
          .child {
            flex: 1 1 41%;
            margin: 5px;
            height: 100px;
            ion-card-header {
              img {
                .icon-img {
                  float: left;
                  width: 80px;
                  height: 80px;
                }
              }
              ion-card-title {
              }
            }
          }
        }
      }
    }
  }
}
