.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.no-pad {
  --ion-grid-column-padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-mar {
  margin-top: 0px;
  margin-bottom: 0px;
}
