<!--<div class="some-colors">-->
<ion-header>
  <ion-toolbar>
    <!--<ion-title class="big-font"> Ilonggo</ion-title>-->
    <ion-title> Ilonggo vs-code vim </ion-title>
    <ion-button (click)="changeTheme()">
      <!--<ion-icon name="logo-angular"></ion-icon>-->
      <ion-icon
        *ngIf="this.theme == 'ilo-colors-light'"
        name="sunny"
      ></ion-icon>
      <ion-icon *ngIf="this.theme != 'ilo-colors-light'" name="moon"></ion-icon>
    </ion-button>

    <!--<ion-button color="warning" (click)="presentAlertMultipleButtons()">-->
    <!--<ion-icon name="logo-angular"></ion-icon>-->
    <!--</ion-button>-->
  </ion-toolbar>
</ion-header>

<!--<ion-content class="ilo-colors-default">-->
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Level One</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list class="parent">
    <ion-card
      class="child {{ lesson.color }}-card"
      *ngFor="let lesson of lessons"
    >
      <ion-card-header>
        <img
          class="icon-img on-{{ lesson.color }}-svgr"
          src="assets/icon/custom/{{ lesson.icon }}.svg"
        />
        <ion-card-title class="on-{{ lesson.color }}-font">{{
          lesson.title
        }}</ion-card-title>
      </ion-card-header>
    </ion-card></ion-list
  >
</ion-content>
<!--</div>-->
