.ilo-colors-dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
  --svg-color: var(--svg-white);
  --svg-color: invert(70%) sepia(30%) saturate(6807%) hue-rotate(108deg)
    brightness(100%) contrast(87%);
}
