/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/ilo-colors-default";
@import "theme/ilo-colors-light";
@import "theme/ilo-colors-dark";
@import "theme/ilo-colors-solar";

.sheet {
  //--color: #DC143C;
  //--background: url(assets/shapes.svg);
  //--background-opacity: .8;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --ion-text-color: #000000;
  --ion-background-color: #ffffff;
  --random-red: #faf000;
  --red: red;
  --green: green;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  //--svg-white: invert(70%) sepia(30%) saturate(6807%) hue-rotate(108deg)
  //brightness(100%) contrast(87%);
  //--svg-color: invert(22%) sepia(90%) saturate(2193%) hue-rotate(346deg)
  //brightness(77%) contrast(92%);
}

//ion-content {
////--ion-text-color:#ffffff;
////--ion-background-color:#dddddd ;
////margin: 0;
////padding: 0;
////margin-left: 5rem;
////margin-left: 350px;
//padding: 1rem;
//--padding-start: 5rem;
////display:none;
//}

//.navbar {
//position: fixed;
//z-index: 10;
//background-color: var(--bg-primary);
//width: 5rem;
//height: 100vh;
//transition: width 600ms ease;
//}

//.navbar-nav {
//list-style: none;
//padding: 0;
//margin: 0;
//display: flex;
//flex-direction: column;
//align-items: center;
////height: 100%;
//}

//.nav-item {
//width: 100%;
//}

//.nav-item:last-child {
//margin-top: auto;
//}

//.navbar:hover {
//width: 16rem;
//}

////-------
////

//.nav-link {
//display: flex;
//align-items: center;
//height: 5rem;
//color: var(--text-primary);
//text-decoration: none;
//filter: grayscale(100%) opacity(0.7);
//transition: var(--transition-speed);
//}

//.nav-link:hover {
//filter: grayscale(0%) opacity(1);
//background: var(--bg-secondary);
//color: var(--text-secondary);
//}

//.link-text {
//display: none;
//margin-left: 1rem;
//}

//.nav-link i {
//font-size: 2rem;
//width: 2rem;
//min-width: 2rem;
//margin: 0 1.5rem;
//}

//.fa-primary {
//color: #ff7eee;
//}

//.fa-secondary {
//color: #df49a6;
//}

//.fa-primary,
//.fa-secondary {
//transition: var(--transition-speed);
//}

////------
////
//.logo {
//font-weight: bold;
//text-transform: uppercase;
//text-align: center;
//color: var(--text-secondary);
//background: var(--bg-secondary);
//font-size: 1.2rem;
//text-transform: uppercase;
//letter-spacing: 0.3ch;
//}

//.logo i {
//transform: rotate(0deg);
//transition: var(--transition-speed);
//}

//.logo-text {
//display: inline;
//position: absolute;
//left: -999px;
//transition: var(--transition-speed);
//}

//.navbar:hover .logo i {
//transform: rotate(-180deg);
//}

////-----
////

//[> Small screens <]
////@media only screen and (max-width: 600px) {
////ion-content {
////padding: 1rem;
////--padding-start: 0rem;
////}
////.navbar {
////bottom: 0;
////width: 100vw;
////height: 7rem;
////transform: none !important;
////transition: none !important;
////}

////.logo {
//////display: none;
////}

////.logo-text,
////.link-text,
////.nav-text {
////display: none;
////}

////.nav-link,
////.nav-link:hover {
////display: block;
////filter: none;
////background: var(--bg-primary);
////}

////.navbar-nav {
////flex-direction: row;
////width: 100vw;
////background: var(--bg-primary);
////transform: none !important;
////transition: none !important;
////}

////.navbar,
////.nav-link,
////.nav-link:hover,
////.navbar:hover .logo i,
////.navbar:hover .link-text,
////.navbar:hover .logo-text,
////.navbar:hover .nav-link i {
////transform: none !important;
////transition: none !important;
////}

////.logo i,
////.nav-link i {
////margin-bottom: 0rem;
////margin-top: 1rem;
////}
////}

//[> Large screens <]
//@media only screen and (min-width: 600px) {
//.navbar {
//top: 0;
//width: 5rem;
//height: 100vh;
//}

//.navbar:hover .link-text {
//display: inline;
//}

////.navbar:hover .logo svg {
//.navbar:hover .logo i {
//margin-left: 11rem;
//}

//.navbar:hover .logo-text {
//left: 0px;
//}
//}
